.ham{
    transition: all 0.3s ease-in;
}
nav ul li {
    display: flex;
    flex-direction: column;
    position: relative;
    
    a{
       
        
        // &::after{
        //     content: " ";
        //     position: absolute;
        //     background-color: #7D7987;
        //     height: 2px;
        //     width: 0;
        //     bottom: -3px;
        //      left: 0;
        //      transition: 0.3s;  
        // }
        // &:hover::after{
        //     width: 100%;
        //  }


        &::after{
            content: " ";
            position: absolute;
            background-color: #7D7987;
            height: 2px;
            width: 100%;
            bottom: -3px;
             left: 0;
             transition: 0.3s;
             transition-timing-function: ease-in-out;
             transform: scaleX(0);  
        }
        &:hover::after{
            transform: scaleX(1);
         }
        
    }
}
